{% extends 'base.html' %}
{% block content %}
    <div class="container col-md-4">
        <table class="table-hover table-condensed">
            <tbody>
            <tr class="col-md-3">
                <input type="checkbox" class="checkbox" id="id_select_all" name="id_select_all">
                <label for="id_select_all">Select all</label>
            </tr>
            {% for message in messages %}
                <td class=""></td>
            {% endfor %}
            </tbody>
        </table>
    </div>



    <div class="container-fluid col-md-4 align-center">
        <table class="table table-hover table-condensed">
            <tbody>
            <tr>
                <td class="col-md-3">
                    <input type="checkbox" id="id_select_all" name="id_select_all">
                    <label for="id_select_all">Select all</label>
                </td>
            </tr>
            <tr>
                <td class="col-md-1">
                    <input type="checkbox" id="id_select_1" name="id_select_1">
                </td>
                <td>
                    <b>John</b>

                    <p>message text</p>
                </td>
                <td class="col-md-1 text-center">
                    12:30
                </td>
                <td class="text-center">
                    <span class="badge">
                        20 <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-1 clickable-row" data-href='url://link-for-first-row/'>
                    <input type="checkbox" id="id_select_1" name="id_select_1">
                </td>
                <td>
                    <b>Kate</b>

                    <p>message text</p>
                </td>
                <td class="col-md-1 text-center">
                    15:30
                </td>
                <td class="text-center">
                    <span class="badge">
                        17 <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}